---
---

@import "{{ site.theme }}";

table.dataTable {
  padding-top: 10px;
}
.dataTables_wrapper .dataTables_filter input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: searchfield-cancel-button; } 
.dataTables_wrapper .dataTables_filter input[type="search"]{-webkit-appearance: searchfield; } 

table.dataTable thead th, table.dataTable thead td {
  border: 0px;
}

/*Resize the wrap to see the search bar change!*/
.wrap-search{
  width: 100%;
}

.top{
	width: 100%;
	justify-content: space-between;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-wrap: wrap;
}

#browse-table_length{
  padding-top: 0.755em;
}

.search .dataTables_filter{
  width:100%;
}
.search input {
  -webkit-appearance: none !important; //needed for sSafari. First remove default styling then apply our css
  display: block;
  width: 100%;
  border: 3px solid #158768;
  padding: 5px;
  border-radius: 5px ;
  outline: none;
  color: #9DBFAF;
  margin-left: 0px !important;
  box-sizing: border-box;
  text-align: center;
}

.search input:focus{
  color: #15945b;
}

.bottom{
	width: 100%;
    justify-content: space-between;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-wrap: wrap;
	}
.bottom .dt-buttons{
  padding-top: 0.25em;
  flex-grow: 1;
}
.bottom .dataTables_paginate{
  flex-grow: 1;
}
@media screen and (max-width: 767px){
  .bottom .dt-buttons{
	margin-top: 0.5em;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
